@page "/Customer/Menu"
@layout Shared.CustomerPageLayout
<div id="category-wrapper" class="category-wrapper"> 
    <div class="scroll-arrow left d-none" id="cat-arrow-left"><i class="bi bi-chevron-left"></i></div>
    <div class="fade-edge left d-none rounded-start-5" id="cat-fade-left"></div>
    
    <div id="category-container" class="category-scroll bg-body-tertiary rounded-5 shadow">
        <div class="d-inline-flex gap-1 text-nowrap category-list">
            @foreach (var c in _categories!)
            {
                <div role="button"
                     class="category-item @(_selectedCategoryId == c.CategoryId ? "active" : "")"
                     @onclick="() => OnCategorySelected(c.CategoryId)" data-cat-id="@c.CategoryId">
                    @(c.Name) (@c.Items.Count)
                </div>
            }
        </div>
    </div>
    
    <div class="scroll-arrow right d-none" id="cat-arrow-right"><i class="bi bi-chevron-right"></i></div>
    <div class="fade-edge right d-none rounded-end-5"  id="cat-fade-right"></div>
</div>
<div class="d-grid my-3 gap-4 card-grid">
    @foreach (var item in _categories.First(x => x.CategoryId == _selectedCategoryId).Items)
    {
        <div class="card shadow item">
            <div class="ratio ratio-16x9">
                <img src="https://cizucu-production.imgix.net/images/photos/2AuZdsH2Bj8ATh5MIbNq.jpg?auto=format%2Ccompress&fit=max&w=3840&q=75" class="card-img-top object-fit-cover:" alt="">
            </div>
            <div class="card-body d-flex justify-content-between flex-column">
                <div>
                    <h6 class="card-title">@item.Name</h6>
                    <p class="card-text text-secondary">@item.Description 이것은 상품의 설명입니다. 김치는 참 좋은 식품입니다.</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">@CurrencyFormat(item.Price)</p>
                    
                    @if (item.IsAvailable)
                    {
                        <button role="button" class="btn btn-primary" @onclick="() => AddToCart(item)">담기</button>
                    }
                    else
                    {
                        <div class="text-secondary" style="margin: 7px 0;">품절</div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="container px-0 fixed-bottom">
    <div class="bg-body-tertiary rounded-top-5 p-3 shadow">
        <div class="d-flex justify-content-between align-items-center">
            <button class="cart-toggle btn p-0 border-0 bg-transparent"
                    @onclick="ToggleCart">
                <i class="bi @(_isCartOpen ? "bi-chevron-down" : "bi-chevron-up") me-2"></i>
                장바구니
            </button>
            <div class="d-flex flex-row align-items-center">
                <div class="me-2">
                    @if (_cart.Count != 0)
                    {
                        <p class="text-muted mb-0">@CurrencyFormat(_cart.Sum(x => x.Item1 * x.Item2.Price)) (메뉴 @(_cart.Count)개)</p>
                    }
                    else
                    {
                        <p class="text-muted mb-0">담은 메뉴 없음</p>
                    }
                </div>
                <button class="btn btn-success rounded-5" disabled="@(_cart.Count == 0)" @onclick="CheckoutAsync">주문하기</button>
            </div>
        </div>
        <div class="cart-panel @(_isCartOpen ? "open" : "") overflow-y-scroll">
            @if (_cart.Count == 0)
            {
                    <div class="d-flex flex-column align-items-center h-100 justify-content-center">
                        <i class="text-secondary bi bi-basket3 text-center" style="font-size: 4rem"></i>
                        <p class="text-secondary text-center">아직 장바구니에 아무 것도 없습니다.</p>
                    </div>
            }
            else
            {
                @foreach (var (qty, itm) in _cart)
                {
                    <div class="border-bottom p-3 d-flex justify-content-between">
                        <span>@itm.Name × @qty</span>
                        <span>@CurrencyFormat(itm.Price * qty)</span>
                        </div>
                }
            }
        </div>
    </div>
</div>