@attribute [Authorize(Roles = AuthorizationHandler.AdminRole)]
@inject ConfigurationService Config
@page "/administrative/orderview"
@layout Shared.AdminPageLayout
@if (_activeOrders is not null)
{
    <PageTitle>@(Config.StoreName) - 주문 뷰</PageTitle>
    <div style="height: calc(100vh - 58px)">
        <div class="d-flex h-100 justify-content-between">
            <main class="flex-grow-1">
                <div class="mx-5 my-4">
                    <h3 class="fw-bold">주문 뷰</h3>
                    <p class="text-muted">@(_activeOrders.Count == 0 ? "활성화 된 주문이 없습니다." : $"현재 {_activeOrders.Count}개의 활성 주문이 있습니다.")</p>
                    <button id="offcanvas-toggle-button" class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" href="#offcanvasResponsive" aria-controls="offcanvasResponsive">
                        <i class="bi bi-receipt"></i> 주문 상세 보기
                    </button>
                </div>
                <div class="grid-scroll-wrapper">
                    @if (_activeOrders.Count == 0)
                    {
                        <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center text-muted">
                            <i class="bi bi-exclamation-lg fs-1 mt-5"></i>
                            <h6>주문 없음</h6>
                        </div>
                    }
                    else
                    {
                        <div class="order-grid me-5 ms-5">
                            @foreach (var o in _activeOrders)
                            {
                                <div class="card bg-body-tertiary order-card shadow border-0 rounded-2" @onclick="() => SetOrderAsync(o)">
                                    <div class="card-header text-muted">
                                        주문 #@o.OrderId
                                        <span class="float-end">@o.Session!.Table.Name</span>
                                    </div>
                                    <div class="card-body overflow-y-auto">
                                        <ul class="m-0 order-items-list">
                                            @foreach (var i in o.OrderItems)
                                            {
                                                <li>@i.Item.Name x @i.Quantity</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </main>
            <div class="offcanvas offcanvas-lg offcanvas-end bg-body-tertiary p-lg-4 d-lg-flex h-100 side-panel" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel" style="width: 380px!important;">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">주문 정보</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column flex-grow-1">
                    <h5 class="mb-4 flex-shrink-0 d-none d-lg-block">주문 상세보기</h5>
                    @{
                        var selectedOrder = _activeOrders.FirstOrDefault(x => x.OrderId == _selectedOrderId);
                        if (selectedOrder is null) _selectedOrderId = null;
                        else
                        {
                            if (_shouldUpdateMemo)
                            {
                                _memoContent = selectedOrder.Memo;
                                _shouldUpdateMemo = false;
                            }
                        }
                    }

                    @if (_selectedOrderId is null)
                    {
                        <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center text-center text-muted">
                            <i class="bi bi-receipt-cutoff fs-1"></i>
                            <h6>선택된 주문 없음</h6>
                        </div>
                    }
                    else
                    {
                        <h6>주문 #@selectedOrder!.OrderId</h6>
                        <div class="text-muted">
                            <div>
                                테이블:
                                <span class="float-end">@selectedOrder.Session!.Table.Name</span>
                            </div>
                            <div>
                                세션:
                                <span class="float-end">#@selectedOrder.Session.SessionId</span>
                            </div>
                            <div>
                                주문 시각:
                                <span class="float-end">@selectedOrder.CreatedAt.ToString("yyyy-MM-dd hh:mm:ss")</span>
                            </div>
                        </div>
                        <div>
                            <p class="mt-2 mb-1">메모</p>
                            <InputTextArea placeholder="메모를 입력하십시오." style="height: 8rem" class="form-control" @bind-Value="_memoContent"></InputTextArea>
                            @if (selectedOrder.Memo != _memoContent)
                            {
                                <button class="btn btn-success float-end mt-2" @onclick="OnUpdateMemoAsync">저장</button>
                            }
                        </div>
                        <hr/>
                        <h6 class="mt-1">상세 내역</h6>
                        <div class="flex-grow-1">
                            <table class="w-100">
                                <thead>
                                <tr class="text-muted">
                                    <td>메뉴</td>
                                    <td>수량</td>
                                    <td class="text-end">합계</td>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var i in selectedOrder.OrderItems)
                                {
                                    <tr class="monospace-font">
                                        <td>@i.Item.Name</td>
                                        <td>@i.Quantity</td>
                                        <td class="text-end">@CurrencyFormat(i.Quantity * i.Item.Price)</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-center gap-3">
                            <button class="btn btn-success" @onclick="OnCompleteOrderAsync"><i class="bi bi-check-lg me-2"></i>완료</button>
                            <button class="btn btn-danger" @onclick="OnCancelOrderAsync"><i class="bi bi-x-lg me-2"></i>취소</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
